<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>All Saved Articles</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#if articles}}
        {{#each articles}}
        <div class="thumbnail saved-article">
          <h4>{{headline}} | <span class="author">{{author}}</span></h4>
          <a class="btn btn-info pull-left"href="/articles/{{_id}}"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> View Comments</a>
          <form method="POST" action="/articles/{{_id}}?_method=DELETE">
            <button class="btn btn-warning pull-right"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove From Saved</button>
          </form>
          <a class="btn btn-success pull-right" target="_blank" href={{link}}><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> View on TechCrunch</a>
        </div>
        {{/each}}
      {{else}}
      <p>No saved articles</p>
      <a href="/scrape" class="btn btn-default">Get Fresh Content</a>
      {{/if}}
    </div>
  </div>
</div>
