<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form method="GET" action="/articles">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to Saved</button>
      </form>
      <div class="headline-box">
        <h2 class="headline-detail">{{headline}}</h2>
        <h4>{{author}} | {{datetime}}</h4>
        <a class="btn btn-success pull-right" target="_blank" href={{link}}><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> View on TechCrunch</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-7">
      <h3>Comments</h3>
      <div class="comment-box">
      {{#if comments}}
        {{#each comments}}
          <div class="thumbnail">
            <p>{{body}}</p>
            <h4><span class="author">{{author}}</span> on <span class="datetime">{{datetime}}</span></h4>
            <form method="POST" action="/articles/{{../_id}}/comment/{{_id}}?_method=DELETE">
              <button class="btn btn-warning pull-right" type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Comment</button>
            </form>
          </div>
        {{/each}}
      {{else}}
      <p>No comments yet.</p>
      {{/if}}
      </div>
    </div>

    <div class="col-md-5">
      <h3>Add Comment</h3>
      <form method="POST" action="/articles/{{_id}}/comment">
        <div class="form-group">
          <label for="author">Author Name</label>
          <input id="author" type="text" name="author"class="form-control" pattern=".{0,20}" title="20 or less characters">
        </div>
        <div class="form-group">
          <label for="comment-body">Comment</label>
          <textarea class="form-control" rows="4" id="comment-body" name="body" required></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Post</button>
        </div>
      </form>
    </div>
  </div>

</div>

